---
layout: archive
title: "Saisons"
permalink: /saisons/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">Die aktuellen Videos immer auf <a href="https://www.youtube.com/@FCNeubrandenburg/videos">Youtube</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.saison_category %}
  {% for category in site.saison_category  %}
    {% assign title_shown = false %}
    {% for post in site.saisons reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.saisons reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



